@import './variables';
@import './fonts';

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  @include OpenSans;
  box-sizing: border-box;
  touch-action: manipulation;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  hanging-punctuation: frist last;
}

html,
body,
#root {
  height: 100%;
}

h1, h2, h3, h4, h5 ,h6 {
  text-wrap: balance;
}

p {
  max-width: 75ch;
  text-wrap: pretty;
}

